app-layout
.overlay-bk

.home

.main.container.clearfix
    .row
        .col-md-8.col-md-offset-2
            h1.display-4
                img.avatar.img-circle.hidden-xs-down(src='./assets/img/avatar.jpg' alt='avatar')
                | #{name}
            h2.favorite-apparel Favorite Picks
            | #{favorite}
        a.buy.btn.btn-info-outline.btn-lg.m-t-1(href='mailto:miltonputnam22@gmail.com') Buy Now