app-layout
.overlay-bk

.store-bk
.main.container
    .row
        .col-md-8.col-md-offset-2.jumbotron
            h1.display-4.m-b-2 CDA | Apparel
            p CDA is a online shopping apparel company that specialize in athletic wear
            p Complete Dominance Athletics is a sports wear retailer based in Detroit, Michigan. Complete Dominance Athletics offers the most comprehensive selection in town and arguably on the internet/mail order as well. By offering the most complete selection as well as a knowledge support staff, Complete Dominance Athletics will quickly gain market share. Detroit was chose because of its diverse, active culture. Complete Dominance Athletics is a Michigan Base LLC.
                         
    .row
        div.col-md-4.col-sm-6.col-xs-12
            //Sports Men: Front 1 Sports-blue-man
            img.blue(src='./assets/img/Sports-wear-MEN_blue_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports | #25614
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Women: Front 1 Womens-gray-shirt-front
            img.white(src='./assets/img/Womens-wear_gray_Tshirt_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Women Teal: Front 1 Womens-teal-shirt-front
            img.teal(src='./assets/img/Sports-wear-WOMEN_teal_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //T-Shirt Collection: Front 1 CDA-men-shirt-blk-front
            img.white(src='./assets/img/Mens-wear_black_Tshirt.jpg' alt='Sports Apparel')
            div.caption
                h6 T-Shirt Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Mens Sweats: Front 1 Mens-Full-Sweats-Front
            img.white(src='./assets/img/Winter-wear_blue_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Winter Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now


            //Mens Shorts: Front 1 Mens-Full-Sweats-Black-front
            img.blue-2.rotate90(src='./assets/img/Hat-collection_black_model3.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Full Sweats Collection | #2561525
                a.btn.btn-primary(href='/contact') Order Now


            //Mens Shorts: Front 1 Mens-gray-shorts-front
            img.blue(src='./assets/img/photos_1496253172557.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Shorts Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Watch Collection: Front 1 CDA-watch-front
            img.green(src='./assets/img/Watch-collection_sports_watch.jpg' alt='Sports Apparel')
            div.caption
                h6 Watch Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Watch Collection: Front 1 CDA-socks-front
            img.red(src='./assets/img/Sock-wear_black_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Socks Collection | #2561511
                a.btn.btn-primary(href='/contact') Order Now  

                    
        div.col-md-4.col-sm-6.col-xs-12
            //Sports Men: Side 2 Sports-blue-man-Side
            img.blue(src='./assets/img/Sports-wear-MEN_blue_side.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports | #25616
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Women: Side 2 Womens-gray-shirt-Side
            img.white(src='./assets/img/Womens-wear_gray_Tshirt_side.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25617
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Women Purple : Side 2 womens-shirt-purple-side
            img.purple(src='./assets/img/Sports-wear-WOMEN_purple_front.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25617
                a.btn.btn-primary(href='/contact') Order Now

            //T-Shirt Collection: Side 2 CDA-men-shirt-gray
            img.white(src='./assets/img/Mens-wear_gray_Tshirt.jpg' alt='Sports Apparel')
            div.caption
                h6 T-Shirt Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Winter Collection: Side 2 mens-fulls-sweats-side
            img.white(src='./assets/img/Winter-wear_blue_side.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Full Sweats Collection | #2561556
                a.btn.btn-primary(href='/contact') Order Now
                    
                    
            //Mens Shorts Collection: Side 2 mens-fulls-sweats-black-side
            img.blue-2.rotate90(src='./assets/img/Hat-collection_black_model2.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Shorts Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now  
                    
                    
            //Mens Shorts Collection: Side 2 mens-gray-shorts-side
            img.blue(src='./assets/img/Sports-wear-MEN_blue_shorts_side.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Shorts Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Watch Collection: Side 2 CDA-sports-fitbit
            img.green(src='./assets/img/Watch-Collection_fitbit_black.jpg' alt='Sports Apparel')
            div.caption
                h6 Watch Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now
                    
                    
            //Watch Collection: Front 1 CDA-socks-side
            img.red(src='./assets/img/Sock-wear_black_side.jpg' alt='Sports Apparel')
            div.caption
                h6 Socks Collection | #2561500
                a.btn.btn-primary(href='/contact') Order Now 


        div.col-md-4.col-sm-6.col-xs-12
            //Sports Men: Back 3 Sports-blue-man-Back
            img.blue(src='./assets/img/Sports-wear-MEN_blue_back.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports | #25618
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Womens: Back 3 Womens-gray-shirt-Back
            img.white(src='./assets/img/Womens-wear_gray_Tshirt_back.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25619
                a.btn.btn-primary(href='/contact') Order Now

            //Sports Womens: Back 3 womens-shirt-black-front-workout
            img.white(src='./assets/img/photos_1496253196642.jpg' alt='Sports Apparel')
            div.caption
                h6 Sports Women | #25619
                a.btn.btn-primary(href='/contact') Order Now

            //T-Shirt Collection: Back 3 black-model
            img.white(src='./assets/img/Mens-wear_black_Tshirt_model3.jpg' alt='Sports Apparel')
            div.caption
                h6 T-Shirt Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Winter Collection longSleeve: Back 3 mens-whiteblue-longsleeve
            img.white(src='./assets/img/Mens-wear_multi-blue_Tshirt.jpg' alt='Sports Apparel')
            div.caption
                h6 Longsleeve Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now
                    
                    
            //Womens Shorts: Back 3 mens-full-sweats-swag-front-back
            img.blue-2.rotate90(src='./assets/img/Hat-collection_black_model.jpg' alt='Sports Apparel')
            div.caption
                h6 Mens Full Sweats Collection | #2561589
                a.btn.btn-primary(href='/contact') Order Now   
                    
                    
            //Womens Shorts: Back 3 womens-wrap-black-front
            img.white(src='./assets/img/photos_1496253206402.jpg' alt='Sports Apparel')
            div.caption
                h6 Womens Shorts | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Watch Collection: Back 3 Shirt-watch-shorts
            img.green(src='./assets/img/photos_1496253187446.jpg' alt='Sports Apparel')
            div.caption
                h6 Watch Collection | #25615
                a.btn.btn-primary(href='/contact') Order Now

            //Watch Collection: Front 1 CDA-hats-back
            img.red(src='./assets/img/Hat-collection_black.jpg' alt='Sports Apparel')
            div.caption
                h6 Hat Collection | #2561502
                a.btn.btn-primary(href='/contact') Order Now 