app-layout
.overlay-bk

.promo-5

.main.container.jumbotron
    .row
        .col-md-8.col-md-offset-2
        h1.display-4.m-b-2.text-xs-center Contact Us
        p.text-xs-center Phone: (313) 461-2400
        p.text-xs-center Email: click below...

        a.text-xs-center.btn.btn-primary(href='mailto:miltonputnam22@gmail.com') Get in touch