app-layout
.overlay-bk

.promo-4


.main.container
    .row
        .col-md-8.col-md-offset-2
            h1.display-4.m-b-2 About Us
            p CDA is a online shopping apparel company that specialize in athletic wear
            p Complete Dominance Athletics is a sports wear retailer based in Detroit, Michigan. Complete Dominance Athletics offers the most comprehensive selection in town and arguably on the internet/mail order as well. By offering the most complete selection as well as a knowledge support staff, Complete Dominance Athletics will quickly gain market share. Detroit was chose because of its diverse, active culture. Complete Dominance Athletics is a Michigan Base LLC.
                    

            h4 Please don't forget to sign up and become a CDA member

            a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE

                    

                    
